<!-- login.html-->
{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block title %}ChangeScanner - {{ ex_data[0] }}{% endblock %}

{% block style %}
<style>
.container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:15px;
    font-weight:bold;
}
.detailBox {
  width: 320px;
  border: 1px solid #bbb;
  margin: 50px;
}
.titleBox {
  background-color: #fdfdfd;
  padding: 10px;
}
.titleBox label {
  color: #444;
  margin: 0;
  display: inline-block;
}

.commentBox {
  padding: 10px;
  border-top: 1px dotted #bbb;
}
.commentBox .form-group:first-child,
.actionBox .form-group:first-child {
  width: 80%;
}
.commentBox .form-group:nth-child(2),
.actionBox .form-group:nth-child(2) {
  width: 18%;
}
.actionBox .form-group * {
  width: 100%;
}
.taskDescription {
  margin-top: 10px 0;
}
.commentList {
  padding: 0;
  list-style: none;
  overflow: auto;
}
.commentList li {
  margin: 0;
  margin-top: 10px;
}
.commentList li > div {
  display: table-cell;
}
.commenterImage {
  width: 40px;
  margin-right: 5px;
  height: 100%;
  float: left;
}
.commenterImage img {
  width: 100%;
  border-radius: 50%;
}
.commentText p {
  margin: 0;
}
.sub-text {
  color: #aaa;
  font-family: verdana;
  font-size: 11px;
}
.actionBox {
  border-top: 1px dotted #bbb;
  padding: 10px;
}


</style>
  {% endblock %}

{% block body %}

<div class="container" align = "center" style = "margin-top: 50px; margin-bottom: 50px;">
<h2 class="text-left"><a href={{ ex_data[6] }}>{{ ex_data[0] }}</a></h2>
<p class="text-left">{{ ex_data[2] }}</p>
<hr>

{#    <div class="card bg-light">#}
        <div class="col-md-offset-2 col-md-8 col-md-offset-2 card bg-light">
            <ul class="nav nav-tabs" style="padding-top: 20px;padding-bottom: 0px;">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">About</a>
                </li>
                {% if current_user.id == ex_data[8] %}
                    <li class="nav-item">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="" data-target="#messages" data-toggle="tab" class="nav-link">All Reviews</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#feedback" data-toggle="tab" class="nav-link">Add feedback</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">About</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Country</h6>
                            <p>
                                {{ ex_data[1] }}
                            </p>
                            <h6>Date of creation</h6>
                            <p>
                                {{ ex_data[10] }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            {% if badges %}
                                <h6>Recent badges</h6>
                                {% for i in badges %}
                                    <a href="#" class="badge badge-dark badge-pill">{{ i }}</a>
                                {% endfor %}

                            {% else %}
                                <h6>Exchanger got no badges yet</h6>
                            {% endif %}
                            <hr>
                            <span class="badge badge-primary"><i class="fa fa-user"></i> {{ ex_data[3] }} Comments</span>
                                <span class="badge badge-success"><i class="fa fa-cog"></i> {{ ex_data[4] }} Positives</span>
                            <span class="badge badge-danger"><i class="fa fa-eye"></i> {{ ex_data[5] }} Complains</span>
                        </div>
                        <div class="col-md-12">
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Reviews</h5>
                           <div class="actionBox text-left">
                                <ul class="commentList" style="padding-bottom:0px;margin-bottom: 0px;">
                                    {% for i in recent %}
                                        {% if i.byAdmin == 1 %}
                                            <li class="rounded">
                                                <div class="commenterImage" style="padding: 5px;">
                                                  <img src="https://api.adorable.io/avatars/{{ i.userId }}" />
                                                </div>
                                                <div class="commentText">
                                                    <p class=""><b>★ {{ i.userName }}</b>: {{ i.review }}</p> <span class="date sub-text">{{ i.commentTime }}</span>

                                                </div>
                                            </li>
                                        {% else %}
                                            {% if i.type == 'Comment' %}
                                                <li class="rounded">
                                                    <div class="commenterImage" style="padding: 5px;">
                                                      <img src="https://api.adorable.io/avatars/{{ i.userId }}" />
                                                    </div>
                                                    <div class="commentText">
                                                        <p class=""><b>{{ i.userName }}:</b> {{ i.review }}</p> <span class="date sub-text">{{ i.commentTime }}</span>

                                                    </div>
                                                </li>
                                            {% elif i.type == 'Positive' %}
                                                <li class="rounded" style="background-color: #cbfbdf">
                                                    <div class="commenterImage" style="padding: 5px;">
                                                      <img src="https://api.adorable.io/avatars/{{ i.userId }}" />
                                                    </div>
                                                    <div class="commentText">
                                                        <p class=""><b>{{ i.userName }}:</b> {{ i.review }}</p> <span class="date sub-text">{{ i.commentTime }}</span>

                                                    </div>
                                                </li>
                                            {% else %}
                                                <li class="rounded" style="background-color: #ffc2b8">
                                                    <div class="commenterImage" style="padding: 5px;">
                                                      <img src="https://api.adorable.io/avatars/{{ i.userId }}" />
                                                    </div>
                                                    <div class="commentText">
                                                        <p class=""><b>{{ i.userName }}:</b> {{ i.review }}</p> <span class="date sub-text">{{ i.commentTime }}</span>

                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                           </div>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="messages">
                    <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>Sorted from new to old</div>

                    <div class="actionBox text-left">
                                <ul class="commentList" style="padding-bottom:0px;margin-bottom: 0px;">
                                    {% for i in comments %}
                                        {% if i.byAdmin == 1 %}
                                            <li class="rounded">
                                                <div class="commenterImage" style="padding: 5px;">
                                                  <img src="https://api.adorable.io/avatars/{{ i.userId }}" />
                                                </div>
                                                <div class="commentText">
                                                    <p class=""><b>★ {{ i.userName }}</b>: {{ i.review }}</p> <span class="date sub-text">{{ i.commentTime }}</span>

                                                </div>
                                            </li>
                                        {% else %}
                                            {% if i.type == 'Comment' %}
                                                <li class="rounded">
                                                    <div class="commenterImage" style="padding: 5px;">
                                                      <img src="https://api.adorable.io/avatars/{{ i.userId }}" />
                                                    </div>
                                                    <div class="commentText">
                                                        <p class=""><b>{{ i.userName }}:</b> {{ i.review }}</p> <span class="date sub-text">{{ i.commentTime }}</span>

                                                    </div>
                                                </li>
                                            {% elif i.type == 'Positive' %}
                                                <li class="rounded" style="background-color: #cbfbdf">
                                                    <div class="commenterImage" style="padding: 5px;">
                                                      <img src="https://api.adorable.io/avatars/{{ i.userId }}" />
                                                    </div>
                                                    <div class="commentText">
                                                        <p class=""><b>{{ i.userName }}:</b> {{ i.review }}</p> <span class="date sub-text">{{ i.commentTime }}</span>

                                                    </div>
                                                </li>
                                            {% else %}
                                                <li class="rounded" style="background-color: #ffc2b8">
                                                    <div class="commenterImage" style="padding: 5px;">
                                                      <img src="https://api.adorable.io/avatars/{{ i.userId }}" />
                                                    </div>
                                                    <div class="commentText">
                                                        <p class=""><b>{{ i.userName }}:</b> {{ i.review }}</p> <span class="date sub-text">{{ i.commentTime }}</span>

                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
{#            <li>#}
{#                <div class="commenterImage" style="padding: 5px;">#}
{#                  <img src="http://placekitten.com/50/50" />#}
{#                </div>#}
{#                <div class="commentText">#}
{#                    <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>#}
{##}
{#                </div>#}
{#            </li>#}
{#            <li class="rounded" style="background-color: #ffc2b8">#}
{#                <div class="commenterImage" style="padding: 5px;">#}
{#                  <img src="http://placekitten.com/45/45" />#}
{#                </div>#}
{#                <div class="commentText">#}
{#                    <p class=""><b>Ivan:</b> Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>#}
{##}
{#                </div>#}
{#            </li>#}
{#            <li class="rounded" style="background-color: #cbfbdf">#}
{#                <div class="commenterImage" style="padding: 5px;">#}
{#                  <img src="https://api.adorable.io/avatars/1"/>#}
{#                </div>#}
{#                <div class="commentText">#}
{#                    <p class=""><b>Sasha:</b> Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>#}
{##}
{#                </div>#}
{#            </li>#}
{#        </ul>#}

{#                    <table class="table table-hover table-striped" style="margin-bottom: 0px;">#}
{#                        <tbody>#}
{#                        {% for i in comments %}#}
{##}
{#                            {% if i.byAdmin == 1 %}#}
{#                                <tr class="table-light" style="padding-bottom:0px;margin-bottom: 0px;">#}
{#                                        <td>#}
{#                                            <b>★ {{ i.userName }}</b>: {{ i.review }}#}
{#                                        </td>#}
{#                                    </tr>#}
{#                            {% else %}#}
{#                                {% if i.type == 'Comment' %}#}
{#                                    <tr class="table-light">#}
{#                                        <td>#}
{#                                            <b>{{ i.userName }}</b>: {{ i.review }}#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                {% elif i.type == 'Positive' %}#}
{#                                    <tr class="table-success">#}
{#                                        <td>#}
{#                                            <b>{{ i.userName }}</b>: {{ i.review }}#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                {% else %}#}
{#                                    <tr class="table-danger">#}
{#                                        <td>#}
{#                                            <b>{{ i.userName }}</b>: {{ i.review }}#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                {% endif %}#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                        </tbody>#}
{#                    </table>#}
                </div>
            </div>
                <div class="tab-pane" id="edit">
                    <form align = "left" method="POST" action="/exchanger/{{ ex_data[7] }}">
                      {{ form1.hidden_tag() }}
                      {{ wtf.form_field(form1.name, value=ex_data[0]) }}
                      {{ wtf.form_field(form1.url, value=ex_data[6]) }}
                      {{ wtf.form_field(form1.description) }}
                      <div class="form-group">
                         <button type="submit" class="btn btn-success">Save</button>
                      </div>
{#                                                <div class="form-group">#}
{#                         <button type="submit" class="btn btn-danger">Delete exchanger</button>#}
{#                      </div>#}
                    </form>
                </div>
                <div class="tab-pane" id="feedback">
                    {% if current_user.is_authenticated %}
                     <form align = "left" method="POST" action="/exchanger/{{ ex_data[7] }}">
                    {{ form.hidden_tag() }}
              {{ wtf.form_field(form.review) }}
              {{ wtf.form_field(form.type) }}
                <div class="form-group" style="margin-bottom: 0px;">
                    <button type="submit" class="btn btn-success">Submit my review</button>
                </div>
            </form>
                    {% else %}
                    <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>Please <a href='/login'>login</a> to leave a review</div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    </div>
</div>


{% endblock %}