<!-- login.html-->
{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% block title %}ChangeScanner - Settings{% endblock %}

{% block body %}
       <div class="container" style = "margin-top: 50px; margin-bottom: 50px;">
    <h2 class="text-left">Settings</h2>
           <p>Here you can manage your profile and notification subscriptions</p>
        <hr>

       <div class="row">
           <div class="col-md-3">
               <div class="card h-100 text-center bg-light">
                   <h5 class="card-header">Your profile</h5>
                   <div class="card-body text-center">
                       <img src="https://api.adorable.io/avatars/11" class="rounded-circle" style="max-height: 200px">
                       <br><br><h3>Sasha</h3>
                       <span style="font-size: 12px;">novoselovdmitrii@gmail.com</span>
                       <hr>
                       <a href="#" class="card-link" data-toggle="modal" data-target="#ChangePassword">Change password</a>
                   </div>
                </div>
           </div>

           <div class="col-md-9">
               <div class="card card-block h-100 text-center bg-light">
                   <h5 class="card-header">Notification subscriptions</h5>
                   <div class="card-body align-middle" style="margin-top: 100px;margin-bottom: 100px">
                       <h3>Currently you have no active notification subscriptions</h3>
                       <p>You can add up to 5 new subscriptions</p>
                       <button class="btn btn-dark" data-toggle="modal" data-target="#popup">Add a new one</button>
                   </div>
                </div>
           </div>
       </div>

       </div>

    <!-- Modal window of changing password-->
<div id="popup" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add new subscription</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="sub-form" method="POST" action="/settings">
              <div class="form-group">
                <label for="first">Give</label>
                <select class="form-control" id="first">
                  <option value="WMR">Webmoney RUB</option>
                  <option value="QWRUB">QIWI RUB</option>
                  <option value="YAMRUB">Yandex.Money RUB</option>
                  <option value="BTC">Bitcoin</option>
                  <option value="SBERRUB">Sberbank RUB</option>
                </select>
              </div>
              <div class="form-group">
                <label for="second">Get</label>
                <select class="form-control" id="second">
                  <option value="WMR">Webmoney RUB</option>
                  <option value="QWRUB">QIWI RUB</option>
                  <option value="YAMRUB">Yandex.Money RUB</option>
                  <option value="BTC">Bitcoin</option>
                  <option value="SBERRUB">Sberbank RUB</option>
                </select>
              </div>
                <div class="form-group">
                    <label for="input">Ratio</label>
                    <input type="text" class="form-control" required="required" id="input" placeholder="Must be smaller than the current ratio" >
                </div>
                <div class="form-group"> <a href="#" id="get-data">What's current ratio?</a> </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="current" readonly>
                    <p style="font-size: 14px">If current ratio is -1, it means that you can't subscribe on this kind of currency exchange</p>
                </div>

                <hr>
                <p>Ratio is the result of dividing the amount of money you give by the amount of money you get.
                    Lets say, to buy 1000 Yandex Money RUB you can afford to pay 1100 Sberbank RUB. In this case ratio will be
                1100/1000 = 1.1. Ratio is always bigger than 1.</p>

                <div class="modal-footer">
                    <button class="btn btn-dark">Add subscription</button>
                </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scriptBlock %}
    <script>
        $(document).ready(function () {
          $('#get-data').click(function () {
            var f = $( "#first" ).val();
            var s = $( "#second" ).val();

            var uri = '/data?in=' + f + '&out=' + s;
            $.getJSON(uri, function (data) {
                $('#current').val(data['ratio']);
            });
          });
        });
    </script>
{% endblock %}